<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>21 Savage Fans</title>
  <link rel="shortcut icon" href="">
<link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div id="top"><h1>Seasonal Growth</h1>
    <h2>Scroll through the yearly calendar to see what's in season</h2>
    </div>

        <div id="main">
            <div id="calender">

              <section id="januarySect">
                <button class="monthButton" id="january">JANUARY</button>
                <section id="january_produce"></section>
              </section>

              <section id="febSect">
                <button class="monthButton" id="february">FEBRUARY</button>
                <section id="february_produce"></section>
              </section>

              <section id="march"></section>
                <button class="monthButton" id="march">MARCH</button>
                <section id="march_produce"></section>

              <section id="april"></section>
                <button class="monthButton" id="april">APRIL</button>
                <section id="april_produce"></section>

              <section id="may"></section>
                <button class="monthButton" id="may">MAY</button>
                <section id="may_produce"></section>

              <section id="june"></section>
                <button class="monthButton" id="june">JUNE</button>
                <section id="june_produce"></section>

              <section id="july"></section>
                <button class="monthButton" id="july">JULY</button>
                <section id="july_produce"></section>

              <section id="august"></section>
                <button class="monthButton" id="august">AUGUST</button>
                <section id="august_produce"></section>

              <section id="september"></section>
                <button class="monthButton" id="september">SEPTEMBER</button>
                <section id="february_produce"></section>

              <section id="october"></section>
                <button class="monthButton" id="october">OCTOBER</button>
                <section id="october_produce"></section>

              <section id="november"></section>
              <button class="monthButton" id="november">NOVEMBER</button>
              <section id="november_produce"></section>

              <section id="december"></section>
              <button class="monthButton" id="december">DECEMBER</button>
              <section id="december_produce"></section>
            </div>

          <div id="shoppingList">
            <h4>Add to shopping list</h4>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <form action="/signup" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
    
            <button type="submit" class="btn btn-warning btn-lg">Signup</button>
        </form>
    
        <hr>
    
        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>
        </div>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

<script src="main.js"></script>
</body>
</html>