<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="top"><h1>Seasonal Growth</h1>
    <h2>Scroll through the yearly calendar to see what's in season</h2>
    </div>

        <div id="main">
            <div id="calender">

              <section id="januarySect">
                <a href="/profile/january"><button class="monthButton" id="january">JANUARY</button></a>
                <section id="january_produce"></section>
              </section>

              <section id="febSect">
                <button class="monthButton" id="february">FEBRUARY</button>
                <section id="february_produce"></section>
              </section>

              <section id="march"></section>
                <button class="monthButton" id="march">MARCH</button>
                <section id="march_produce"></section>

              <section id="april"></section>
                <button class="monthButton" id="april">APRIL</button>
                <section id="april_produce"></section>

              <section id="may"></section>
                <button class="monthButton" id="may">MAY</button>
                <section id="may_produce"></section>

              <section id="june"></section>
                <button class="monthButton" id="june">JUNE</button>
                <section id="june_produce"></section>

              <section id="july"></section>
                <button class="monthButton" id="july">JULY</button>
                <section id="july_produce"></section>

              <section id="august"></section>
                <button class="monthButton" id="august">AUGUST</button>
                <section id="august_produce"></section>

              <section id="september"></section>
                <button class="monthButton" id="september">SEPTEMBER</button>
                <section id="february_produce"></section>

              <section id="october"></section>
                <button class="monthButton" id="october">OCTOBER</button>
                <section id="october_produce"></section>

              <section id="november"></section>
              <button class="monthButton" id="november">NOVEMBER</button>
              <section id="november_produce"></section>

              <section id="december"></section>
              <button class="monthButton" id="december">DECEMBER</button>
              <section id="december_produce"></section>
            </div>

          <div id="shoppingList">
            <h4>Add to shopping list</h4>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
    
        <hr>
  
      <script src="main.js"></script>
</body>
</html>
